<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>INIAD掲示板</title>
  </head>
  <body>
    <h1>INIAD掲示板</h1>
    <h2>掲示板一覧</h2>
    <!-- <div>
      <a href="{% url 'main' %}?sort=date">Sort by Date</a>
      <a href="{% url 'main' %}?sort=like">Sort by Like</a>
    </div> -->

    {% if articles %} {% for article in articles %}
    <div class="text">
      <h2><a href="{% url 'content' article.id %}">{{ article.title }}</a></h2>
      <small>{{user.username}}:[{{ article.posted_at }}]</small>
      <!-- <div>
        <a onclick="like({{article.id}});"
          >Like:<span id="like{{article.id}}">{{article.like}}</span></a
        >
      </div> -->
      <div>{{ article.body | linebreaksbr }}</div>
    </div>
    {% endfor %} {% else %}
    <p>No article.</p>
    {% endif %}
    <h2>板を立てる</h2>
    <form action="{% url 'main' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Title</label><br />
        <input
          id="titleInput"
          name="title"
          type="text"
          placeholder="Input title"
        />
      </div>
      <div>
        <label for="textInput">Text</label><br />
        <textarea id="textInput" name="text" rows="3"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
